.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal'): span(aria-hidden='true') &times;
        h4.modal-title Vote Deposit
      .modal-body
        p #[strong Question:] #{question.text}
        p #[strong Your vote:] #{ question.options[option_id].text }
        p #[strong Vote weight:] #{ amount } BTC x #{ (lockbox.rlocktime/144).toFixed(2) } days = 
          strong #{(weight/144).toFixed(2)} #[abbr(title='Bitcoin Days Locked') BDL]

        p To complete your vote, send #{ amount } BTC to #{ lockbox.address }.
        .text-center: img(src=pay_qr)

      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close dialog
