extend layout

append vars
  - page_title = question.text
  - meta_desc = question.text

append head
  meta(name='question', content=question)

append scripts
  if settings.env == 'development'
    script(src=settings.static_url + '/jquery-3.1.1.slim.min.js')
    script(src=settings.static_url + '/bootstrap/js/bootstrap.mini.js')
    script(src=settings.static_url + '/script.js')
  else
    script(src=settings.static_url + '/q.js')

block content
  - opts = Object.keys(question.options)
  - alltotal = opts.reduce((total, oid) => +total + (+totals[oid] || 0), 0)
  - percents = !alltotal ? {} : opts.reduce((o, oid) => (o[oid]=round((totals[oid]||0)/alltotal*100, 0.1), o), {})
  - grouped_votes = opts.map(oid => ({ option: question.options[oid], votes: votes.filter(v => v.option_id == oid) }))
  - col_size = opts.length >= 3 ? 4 : 6
  - col_num  = col_size == 4 ? 3 : 2
  - opt_heading = col_size == 6 ? 'h3' : 'h4'

  - tx_explorer = 'https://testnet.smartbit.com.au/tx/'

  .container
    .row.question
      .col-md-12.results
        h2= question.text
        .row
          for vote_group, i in grouped_votes
            - option = vote_group.option
            div(class='col-md-'+col_size).opt
              #{opt_heading} #{ option.text } &mdash; 
                if totals[option.id]
                  | #{ round(+formatSatoshis(totals[option.id] || 0)/144, 0.01) } #[abbr(title='Bitcoin Days Locked') BDL]
                  |  (#{ percents[option.id] }%)
                else
                  em no votes
              button.btn.btn-success(data-vote=option.id) Vote
              ul
                for vote in vote_group.votes
                  li #{ formatSatoshis(vote.value) } BTC x #{ round(vote.rlocktime/144, 0.001) } days = #{ round(+formatSatoshis(vote.weight_bdl), 0.001) } 
                    abbr(title='Bitcoin Days Locked') BDL
                    | <br>#[a.text-muted(title=vote.timestamp, href=tx_explorer + vote.txid, target='_blank')= vague(vote.timestamp)]
            if (i+1) % col_num == 0
              .clearfix


      //-.col-md-4
        form(data-question=question)
          fieldset
            legend Cast your vote
            for option in question.options
              .radio: label(for='option-'+option.id)
                input(type='radio', name='answer', value=option.id, id='option-'+option.id, required)
                = option.text
            .row
              .form-group.col-md-6
                label(for='amount') Deposit amount
                .input-group
                  input#amount.form-control(type='number', name='amount', required)
                  span.input-group-addon BTC
              .form-group.col-md-6
                label(for='duration') Lock time
                .input-group
                  input#duration.form-control(type='number', name='duration', required)
                  span.input-group-addon: select(name='duration_type')
                    option(value=days) days
                    option(value=blocks) blocks
            .form-group
              label(for='refund_addr') Refund address
              input#refund_addr.form-control(type='text', name='refund_addr', required)

            input.btn.btn-primary(type='submit', value='Vote')
