.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal'): span(aria-hidden='true') &times;
        h4.modal-title Voted successfully!
      .modal-body
        p #[strong Question:] #{ question.text }
        p #[strong Your vote:] #{ option.text }
        p #[strong Vote weight:] #{ amount } BTC x #{ round(lockbox.rlocktime/144, 0.001) } days = 
          strong #{round(weight/144, 0.001)} #[abbr(title='Bitcoin Days Locked') BDL]

        p To reclaim your funds, #[strong keep a safe backup] of your refund transaction and broadcast it in #{ lockbox.rlocktime } blocks:
        pre= rawtx

      .modal-footer
        button.btn.btn-primary(type='button', onclick='location.reload()') Continue
