extend layout

block content
  .container: .row: .col-md-8
    h3= question.text

    form(data-question=question)
      for option, i in question.options
        .radio: label(for='option-'+option.id)
          input(type='radio', name='answer', value=option.id, id='option-'+option.id, required)
          = option.text
      .row
        .form-group.col-md-6
          label(for='amount') Deposit amount
          .input-group
            input#amount.form-control(type='number', name='amount', required)
            span.input-group-addon BTC
        .form-group.col-md-6
          label(for='duration') Lock time
          .input-group
            input#duration.form-control(type='number', name='duration', required)
            span.input-group-addon: select(name='duration_type')
              option(value=days) days
              option(value=blocks) blocks
      .form-group
        label(for='refund_addr') Refund address
        input#refund_addr.form-control(type='text', name='refund_addr', required)

      input.btn.btn-primary(type='submit', value='Vote')
